<div>
    <h1>ssssss</h1>
    <div>
    	<form action="/api/insertuser" enctype="multipart/form-data" method="post" accept-charset="utf-8">
    		<input type="file" name="upload" multiple="multiple"/>
    		<p><input type="text" name="name" placeholder="姓名" /><p>
    		<p><input type="text" name="phone" placeholder="电话" /><p>
    		<button type="submit">预测</button>
    	</form>
    </div>
</div>
<script type="text/javascript">
	window.onload = function(){
		var btn = document.getElementById("btn");
		btn.addEventListener("click", function(){
			var xmlhttp=new XMLHttpRequest();
			xmlhttp.open("POST","http://localhost:3000/users",true);
			xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
			xmlhttp.send("username=Henry&userpwd=Ford");
		});
	}
</script>
