<link href="/public/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="/public/dist/cropper.min.css" rel="stylesheet">
<link href="/public/css/main.css" rel="stylesheet">
<img src="/public/img/bg2.png" id="pageBg" />
<div class="container" id="crop-avatar">

    <div class="infopage" id="infopage">

        <div class="infocontwamp">
            <div class="infotitle">二十年后的<span><%= name %></span>将成为一个</div>
            <div class="infocont">
                <div id="useravatar"><img src="<%= avatar %>"  /></div>
                <img src="/public/img/4.png" id="avatarbg"/>
            </div>
            <div class="jobinfo">
                <span class="job"><%= title %></span>
                <span class="xinge"><%= desc %></span>
            </div>
        </div>
        <div class="infobottom">
            <img src="/public/img/2.png" />
        </div>

    </div>
</div>
<script src="/public/assets/js/jquery.min.js"></script>
<script src="/public/assets/js/bootstrap.min.js"></script>
<script src="/public/dist/cropper.js"></script>
<script src="/public/main.js"></script>
